/* Глобальные параметры текста для главной страницы */
body {
  min-width: 1200px;

  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

* {
border: 1px solid red;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Ссылки */
a {
  text-decoration: none;
 }

/* Кнопки */
.button {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357; 
  border: none;
  border-radius: 0;
}

.button:hover, 
.button:focus {
  background-color: #604e43;
}

.button:active {
  background-color: #503e33;
}

/* Шапка и главное навигационное меню */


.main-navigation {
  position: relative;
  padding: 0 6%;
  margin: 0;
  background-color: #ffffff; 
}

.main-header-logo {
  position: absolute;
  width: 138px;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.site-navigation {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.site-navigation li {
  width: 20%;
  padding-top: 15px;
}

.site-navigation li:nth-child(n+3) {
  text-align: right;
}

.site-navigation a {  
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3); 
}

/* Визитная карточка Седоны */

.sedona-business-card {
  padding-bottom: 2px;
  text-align: center;
  background-image: url("../img/intro.jpg");
  background-repeat: no-repeat; 
  background-size: 1200px 512px;
  background-color: #ffffff;
}

.features {
  margin: 0;
  padding-top: 50px;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff; 
}

.features h2 {
  padding-left: 381px;
  padding-right: 381px;
  margin-bottom: 32px;
  color: #000000;
}
/* Настоящий городок */

.feature-town {
  margin: 0;
  margin-top: 52px;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 258px;
  color: #ffffff;
  background-color: #81b3d2;
}

.town-text {
  width: 400px;
  height: 258px;
}

.town-image {
  width: 800px;
  height: 258px;
  overflow: hidden;
}

.town-text h3 {
  margin-top: 44px;
  margin-bottom: 22px;
  padding-left: 138px;
  padding-right: 138px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.town-text span {
  margin: 0;
}

.town-text p {
  margin-top: 20px;
  padding-left: 59px;
  padding-right: 59px;
}

/* Жилье, еда, сувениры */

.tourists-advice-item {
  display: inline-block;
}

.tourists-advice-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.tourists-advice-item {
  box-sizing: border-box;
  width: 33.33%;
  padding: 140px 72px 60px;
  height: 333px;
  background-position: center 60px;
}

.accommodation {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}

.food {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}

.souvenirs {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}

.tourists-advice-item h3,
.feature-environoment-item h3 {
 
  margin-bottom: 28px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.tourists-advice-item p,
.feature-environoment-item span,
.feature-environoment-item p {
  color: #333333;
}

.tourists-advice-item p {
  /*margin-bottom: 83px;
  width: 285px;*/
  padding-left: 80px;
  padding-right: 80px;
  background-color: yellow;
}

/* Мост */

.feature-attraction {
  display: flex;
  flex-direction: row-reverse;
  height: 258px;
  color: #ffffff;
  background-color: #81b3d2; 
}

.attraction-text {
  height: 258px;
  width: 400px;
}

.attraction-text p {
 padding: 0;
 padding-left: 47px; 
 padding-right: 47px;
}

.attraction-image {
  align-self: flex-end;
  width: 800px;
  height: 256px;
  overflow: hidden;
}

.feature-attraction h3 {
  margin-top: 44px;
  margin-bottom: 22px;
  font-size: 21px;
  font-weight: 700;
}

.feature-attraction span {
  margin: 0;
}

.feature-attraction p {
  margin-top: 20px;
}

/* Небольшая площадь, красивая дорога, много туристов */

.feature-environoment {
  background-color: #eeeeee;
}

.feature-environoment-item {
  display: inline-block;
}

.feature-environoment-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
 
}

.feature-environoment-item {
  box-sizing: border-box;
  width: 33.33%;
  padding: 0;
  background-position: center 60px;
  background-color: #eeeeee;
}

.feature-environoment-item h3 {
 padding-left: 140px;
 padding-right: 140px;
 margin-top: 48px;
 margin-bottom: 30px;
}

.feature-environoment-item span {
  margin: 0;
}

.feature-environoment-item p {
  margin-top: 30px;
  margin-bottom: 64px;
  padding-left: 66px;
  padding-right: 66px;
}

/* "Заинтересовались?" - место вызова формы бронирования гостиницы */

.hotel-booking {
  position: relative;
  line-height: 24px;
  text-align: center;
}

.container-hotel-booking {
  position: absolute;
  min-height: 290px;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-color: #ffffff;
}

.booking-1 {
  margin-left: 380px;
  margin-right: 380px;
}

.hotel-booking h2 {
  margin-top: 55px;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.hotel-booking p {
  margin-top: 30px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.hotel-searching {
  margin-top: 46px;
  width: 576px; 
  height: 82px;

  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357; 
  border: none;
  border-radius: 0;
  background-size: 576px 83px;
}

.hotel-searching:hover {
  background-color: #604e43; 
}

.hotel-searching:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #503e33; 
}

/* Форма бронирования отеля */

.hotel-booking-form {
  min-width: 576px;
  min-height: 395px;
 }

.modal { 
position: absolute; 
width: 576px; 
height: 395px; 
bottom: -395px; 
right: 0; 
left: 0; 
margin: 0 auto; 
padding: 0;

font-size: 14px; 
line-height: 26px; 
font-weight: 700; 
color: #000000; 
background-color: #ffffff;
}

.hotel-booking-item {
  margin-left: 57px;
  margin-top: 57px;
  text-align: justify;


  font: inherit;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.modal-close {
  margin-bottom: 58px;
  width: 456px; 
  height: 54px; 

  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
  background-size: 458px 59px;
}

.map {
  min-height: 475px;
  overflow: hidden;
}

/* Для внутренней страницы - фильтры */

.filter fieldset {
  border: none;
}

.filters legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filters {
  
  color: #ffffff;

  background-color: #81b3d2;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat; 
  background-size: 1200px 562px;
}


.filters ul {
  list-style: none;
}

.filter {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 217px;
  padding-top: 40px;
}

.infrastructure {
  width: 50%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.infra-1 {
  padding-left: 68px;
  width: 313px;
}

.infra-1 li{
  padding-bottom: 25px;
}

.infra-2 {
  padding-left: 25px;
  width: 288px;
}

.infra-2 li{
  padding-bottom: 25px;
}

/* Стоимость в сутки */

.price-per-day {
  padding: 0;
  margin: 0;
  width: 50%;
  padding-left: 214px;
  padding-right: 40px;
}

.filtres-price-range {
  border: 1px solid white; 
  display: flex;
  background-color: yellow;
}


.fieldset span {
  margin-right: 80px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filtres-price-range input { 
  order: 0 none; 
  color: #ffffff; 
  width: 50%; 
  background-color: transparent; 
} 

.filtres-price-range input::-moz-placeholder { 
  color: #ffffff; 
} 

.filtres-price-range input::-webkit-input-placeholder { 
  color: #ffffff; 
} 

.filtres-price-range input::-ms-input-placeholder { 
  color: #ffffff; 
} 

.filtres-price-range input::-ms-input-placeholder { 
  color: #ffffff; 
} 

.filtres-price-range input::placeholder { 
  color: #ffffff; 
}

.filter-button {
  margin-left: 84px;
  margin-top: 50px;

  font: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  font: inherit; 
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  width: 135px;
  height: 32px;

  background-color: transparent; 
  border: 1px solid #ffffff;
  border-radius: 0;
  background-size: 131px 34px;
}

.filter-button:hover {
  font: inherit;
  color: #000000;
  background-color: #ffffff;
}

/* Найдено: сортировка по цене - по типу - по рейтингу */

.searching-results {
  list-style: none;
  position: relative;
  padding: 0 6%;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: baseline;

  color: #000000;
}

.searching-results h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
 }
  
.searching-results span {
  margin-left: 50px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.searching-results-sorting {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.sorting-category a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-category a:hover {
  color:  #81b3d2;
}

.sorting-category active  {
  color:  #81b3d2;
}

.searching-results-sorting a:active {
  color: #000000;
}

.button-sub {
  font: inherit;
  background-color: #81b3d2;
}

/* Информация о найденных гостиницах */

.hotel-offers ul {
  margin: 0;
  margin-left: 73px;
  padding: 0;
  list-style: none; 
}

.hotel-list {
  padding: 0 6%;
}

.hotel-list li {
  margin-top: 30px;
}

.hotel-list-item {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.hotel-info {
  margin: 0;
  padding: 0;
  margin-left: 30px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;

  background-color: yellow;
}

.hotel-rating {
  /*position: relative;*/
  min-width: 110px;
  background-color: red
}

.hotel-name {
  margin-top: 0;
  width: 100%;
  background-color: green;
}

.hotel-name a {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.hotel-name a:hover {
  color: #81b3d2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}
 
.hotel-deteils { 
  max-width: 110px; 
} 

.more-deteils {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2; 
  border: none;
  background-size: 109px 25px;
}

.more-deteils a:hover {
  color:  #ffffff;
  background-color: #669ec0;
}

.more-deteils a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotel-booking-button {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357; 
  border: none;
  border-radius: 0;
  background-size: 144px 27px;
}

.hotel-booking-button a:hover {
  color:  #ffffff;
  background-color: #604e43; 
}

.hotel-booking-button a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotel-rating span {
  position: absolute;

}


/* Подвал */

.main-footer {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

  background-color: #fefefe;
  line-height: 26px;
  text-transform: uppercase;
}

.visit-sedona-link {
  align-self: center;

  font: inherit;
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}  

.main-footer  ul {
  padding: 0;
  padding-top: 36px;
  padding-bottom: 36px;
  margin: 0;
  display: flex;
  list-style: none;
}

.social {
  align-self: center;
  margin-left: 3px;
}

.footer-copyright {
  align-self: center;

  font: inherit;
  font-size: 14px;
  font-weight: 400;
}

