/* Глобальные параметры текста для главной страницы */
body {
  min-width: 1200px;

  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

* {
border: 1px solid red;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Ссылки */
a {
  text-decoration: none;
 }

/* Кнопки */
.button {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357; 
  border: none;
  border-radius: 0;
}

.button:hover, 
.button:focus {
  background-color: #604e43;
}

.button:active {
  background-color: #503e33;
}

/* Шапка и главное навигационное меню */

.main-navigation {
  position: relative;
  padding: 0 6%;
  background-color: #ffffff; 
}

.main-header-logo {
  position: absolute;
  width: 138px;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.site-navigation {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.site-navigation li {
  width: 20%;
  padding: 15px 0;
}

.site-navigation li:nth-child(n+3) {
  text-align: right;
}

.site-navigation a {  
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3); 
}

/* Визитная карточка Седоны */

.sedona-business-card {
  background-image: url("../img/main_background_photo.jpg");
  background-repeat: no-repeat; 
  background-size: 1200px 773px;
}

.features {
  text-align: center;

  background-color: #ffffff; 
}

.features h2 {
  color: #000000;
}

/* Настоящий городок */

.feature-town {
  color: #ffffff;

  background-color: #81b3d2;
}

.feature-town h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

/* Жилье, еда, сувениры */

.tourists-advice-item {
  display: inline-block;
}

.tourists-advice-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.tourists-advice-item {
  box-sizing: border-box;
  width: 33.33%;
  padding: 140px 72px 60px;

  background-position: center 60px;
}

.accommodation {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}

.food {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}

.souvenirs {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}

.tourists-advice-item h3,
.feature-environoment-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.tourists-advice-item p,
.feature-environoment-item span,
.feature-environoment-item p {
  color: #333333;
}

/* Мост */

.feature-attraction {
  color: #ffffff;
  background-color: #81b3d2; 
}

.feature-attraction h3 {
  font-size: 21px;
  font-weight: 700;
}

/* Небольшая площадь, красивая дорога, много туристов */

.feature-environoment {
  background-color: #eeeeee;
}

.feature-environoment-item {
  display: inline-block;
}

.feature-environoment-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.feature-environoment-item {
  box-sizing: border-box;
  width: 33.33%;
  padding: 140px 72px 60px;

  background-position: center 60px;
  background-color: #eeeeee;
}


/* "Заинтересовались?" - место вызова формы бронирования гостиницы */

.hotel-booking {
  position: relative;
  line-height: 24px;
  text-align: center;
}

.container-hotel-booking {
  position: absolute;
  min-height: 290px;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-color: #ffffff;
}

.hotel-booking h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.hotel-booking p {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.hotel-searching {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357; 
  border: none;
  border-radius: 0;
  background-size: 576px 83px;
}

.hotel-searching:hover {
  background-color: #604e43; 
}

.hotel-searching:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #503e33; 
}

/* Форма бронирования отеля */

.hotel-booking-form {
  min-width: 576px;
  min-height: 395px;
 }

.modal {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.hotel-booking-item, 
.hotel-booking-item {
  font: inherit;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.modal-close {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
  background-size: 458px 59px;
}
/* Для внутренней страницы - фильтры */

.filter fieldset {
  border: none;
}

.filters legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filters {
  color: #ffffff;

  background-color: #81b3d2;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat; 
  background-size: 1200px 562px;
}

.filters ul {
  list-style: none;
}

.filter-button {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  font: inherit; 
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: transparent; 
  border: 1px solid #ffffff;
  border-radius: 0;
  background-size: 131px 34px;
}

.filter-button:hover {
  font: inherit;
  color: #000000;
  background-color: #ffffff;
}

.searching-results {
  color: #000000;
}

.searching-results h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
 }
  
.searching-results span {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.searching-results-sorting {
  list-style: none;
}

.sorting-category a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-category a:hover {
  color:  #f81b3d2;
}

.searching-results-sorting a:active {
  color: #000000;
}

.button-sub {
  font: inherit;
  background-color: #81b3d2;
}

/* Информация о найденных гостиницах */

.hotel-offers ul {
  list-style: none; 
}

.hotel-name a {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.hotel-name a:hover {
  color: #81b3d2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.more-deteils {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2; 
  border: none;
  background-size: 109px 25px;
}

.more-deteils a:hover {
  color:  #ffffff;
  background-color: #669ec0;
}

.more-deteils a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotel-booking-button {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357; 
  border: none;
  border-radius: 0;
  background-size: 144px 27px;
}

.hotel-booking-button a:hover {
  color:  #ffffff;
  background-color: #604e43; 
}

.hotel-booking-button a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/* Подвал */

.main-footer {
  background-color: #fefefe;
  line-height: 26px;
  text-transform: uppercase;
}

.visit-sedona-link {
  font: inherit;
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}  

.footer-social ul {
  list-style: none;
}

.footer-copyright {
  font: inherit;
  font-size: 14px;
  font-weight: 400;
}

/* Сеточные стили 


html,
body {
  min-width: 1280px;
  min-height: 2762px;
}

body {
  /* Временно для сетки */
 /* background-size: 1200px auto;
  background-repeat: no-repeat;
}

.main-header {
  margin-bottom: 60px;
  margin-left: 40px;
  margin-right: 40px;

/* Временно для сетки */
/*  min-height:  71px;
}

.main-navigation {
  width: 1056px;
  display: flex;
  flex-direction: row;
  align-items: center;

/* Временно для сетки 
   min-height:  71px; 
   background-color: transparent;
   background-color: yellow;
}

.main-header-logo {
  width: 139px;
  height: 71px;
  /* Временно для сетки 
  display: block; 
  background-color: green;
}

.site-navigation {
  width: 
  margin: 0;
  padding: 0;

  list-style: none;

  /* Временно для сетки 
  max-height: 33px;

} 

*/





